<div data-controller="contact-attempt">
  <div class="row" data-uuid="apartment-<%= apartment.uuid %>">
    <div class="col-xs-2 col-sm-2 col-md-4">
      <h5> <%= apartment.number %> </h5>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-4">
      <% if apartment.last_contact_attempt %>
        <div>
          <%= format_time(apartment.last_contact_attempt.time) %>
          <% if apartment.last_contact_attempt.successful? %>
            <span class="checked-on">&#x2713;</span>
          <% else %>
            <span class="checked-off">&#x2717;</span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-4">
      <a href="#" class="btn-lg btn-light float-right" data-action="contact-attempt#showForm" data-target="contact-attempt.showForm">
        <i class="fa fa-bell"></i>
      </a>
    </div>
  </div>

  <div class="fullscreen" style="display: none;" data-target="contact-attempt.formContainer">
    <input type="hidden" value="<%= building.number %>" data-target="contact-attempt.buildingNumber">
    <input type="hidden" value="<%= apartment.id %>" data-target="contact-attempt.apartmentId">
    <input type="hidden" value="<%= apartment.uuid %>" data-target="contact-attempt.apartmentUuid">
    <input type="hidden" value="<%= apartment.number %>" data-target="contact-attempt.number">
    <div class="float-right">
      <a href="#" data-target="contact-attempt.cancelButton" data-action="contact-attempt#cancel" class="btn-lg btn-light">
        <i class="fa fa-undo-alt"></i>
      </a>
      <div class="float-left"> <%= render partial: 'datetime_picker', locals: { id: apartment.id } %> </div>
      <div class="float-left">
        <a href="#"
           data-target="contact-attempt.failButton"
           data-confirm="Marcar o apartamento <%= apartment.number %> como NÃO EM CASA?"
           data-action="contact-attempt#confirmFailure"
           class="checked-off btn-lg btn-light">
           <icon class="fa fa-times" data-confirm="Marcar o apartamento <%= apartment.number %> como NÃO EM CASA?"></i>
        </a>

        <a href="#"
           data-target="contact-attempt.confirmButton"
           data-confirm="Marcar o apartamento <%= apartment.number %> como CONTATADO?"
           data-action="contact-attempt#confirmContact"
           class="checked-on btn-lg btn-light">
           <icon class="fa fa-check" data-confirm="Marcar o apartamento <%= apartment.number %> como CONTATADO?"></i>
        </a>
      </div>
    </div>
  </div>
</div>
