<div class="row with-bottom-separator" id="apartment-<%= apartment.uuid %>">
  <div class="col-2">
    <h5> <%= apartment.number %> </h5>
  </div>
  <div class="col-6">
    <% if apartment.last_contact_attempt %>
      <div>
        <%= format_time(apartment.last_contact_attempt.time) %>
        <% if apartment.last_contact_attempt.successful? %>
          <i class="checked-on fa fa-check"></i>
        <% else %>
          <i class="checked-off fa fa-times"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-4">
    <div class="row-actions">
      <div class="float-right">
        <%= render partial: 'history' %>
        <%= render partial: 'contact_attempt_form' %>
        <% if current_user.master? %>
          <%= render partial: 'apartment_actions' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
