<h5>Edifícios</h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Endereço</th>
      <th>Bairro</th>
      <th>Nome</th>
      <th>Apartamentos</th>
      <th>Carta Ind.</th>
      <th>Inter. Ind.</th>
    </tr>
  </thead>
  <tbody>
    <% buildings.each do |building|  %>
      <tr>
        <th scope="row"> <%= building.number %></th>
        <td> <%= building.address %></td>
        <td> <%= building.neighborhood %></td>
        <td> <%= building.name %></td>
        <td> <%= building.number_of_apartments %></td>
        <td> <%= building.has_individual_letterboxes ? 'Sim' : 'Não' %></td>
        <td> <%= building.has_individual_intercoms ? 'Sim' : 'Não' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
