<h5>Prédio <%= building.number %></h5>

<div class="row">
  <div class="col-10">
    <div> <%= building.address %></div>
    <div> <small> <%= building.neighborhood %></small> </div>
    <div><small><%= building.name %></small> </div>
    <div>
      <%= building.number_of_apartments %> <small>apartamentos</small>, <small><%= building.apartments.count %> registrados</small>
    </div>
  </div>
  <div class="col-2">
    <div class="float-right">
      <%= render partial: 'buildings/call_options', locals: { building: building, size: 20 } %>
    </div>
  </div>
</div>

<hr>

<% if building.has_all_apartments? %>
<div class="clearfix" data-controller="apartments">
  <div class="float-right">
    <form class="form-inline" data-action="submit->apartments#submitForm">
      <input type="hidden" data-target="apartments.buildingUuid" value="<%= building.uuid %>">
      <input type="hidden" data-target="apartments.buildingId" value="<%= building.id %>">
      <input type="hidden" data-target="apartments.buildingNumber" value="<%= building.number %>">
      <div>
        <input autofocus  class="form-control float-left input-apartment-number" placeholder="número" value="" data-target="apartments.number">
        <button data-target="apartments.submitButton" class="btn btn-success float-left">
          <i class="fa fa-plus"></i> Apartamento
        </button>
      </div>
    </form>
    <small style="display: none;" data-target="apartments.errorMessage" class="form-text text-muted"></small>
  </div>
</div>
<% end %>

<hr>

<% building.apartments.each do |apartment| %>
  <%= render partial: 'apartment', locals: { apartment: apartment, building: building } %>
  <hr>
<% end %>
