<h5>Prédio <%= building.number %></h5>

<div class="row">
  <div class="col-10">
    <div> <%= building.address %></div>
    <div> <small> <%= building.neighborhood %></small> </div>
    <div><small><%= building.name %></small> </div>
    <div>
      <%= building.number_of_apartments %> <small>apartamentos</small>, <small><%= building.apartments.count %> registrados</small>
    </div>
  </div>
  <div class="col-2">
    <div class="float-right">
      <%= render partial: 'buildings/call_options', locals: { building: building, size: 20 } %>
    </div>
  </div>
</div>

<hr>

<div class="clearfix" data-controller="apartments">
  <div class="float-right">
    <form class="form-inline" data-action="submit->apartments#submitForm">
      <div class="form-row">
        <div class="col">
          <input type="hidden" data-target="apartments.buildingUuid" value="<%= building.uuid %>">
          <input type="hidden" data-target="apartments.buildingId" value="<%= building.id %>">
          <input type="hidden" data-target="apartments.buildingNumber" value="<%= building.number %>">
          <input class="form-control" placeholder="número" value="" data-target="apartments.number">
        </div>

        <div class="col">
          <input data-target="apartments.submitButton" type="submit" class="btn btn-success text" value="Adicionar Apartamento" class="float-right">
        </div>
      </div>
    </form>
    <small style="display: none;" data-target="apartments.errorMessage" class="form-text text-muted"></small>
  </div>
</div>

<hr>

<% building.apartments.each do |apartment| %>
  <div class="row">
    <div class="col-1">
      <%= apartment.number %>
    </div>
  </div>
  <hr>
<% end %>
