<h5>Prédio <%= building.number %></h5>

<div class="row">
  <div class="col-10">
    <div> <%= building.address %></div>
    <div> <small> <%= building.neighborhood %></small> </div>
    <div><small><%= building.name %></small> </div>
    <div>
      <%= building.number_of_apartments %> <small>apartamentos</small>
    </div>
  </div>
  <div class="col-2">
    <div class="float-right">
      <%= render partial: 'buildings/call_options', locals: { building: building, size: 20 } %>
    </div>
  </div>
</div>


<div class="clearfix" data-controller="apartments">
  <div class="float-right">
    <form class="form-inline" data-action="submit->apartments#submitForm">
      <div class="form-row">
        <div class="col">
          <input type="hidden" data-target="apartments.buildingId" value="<%= building.id %>">
          <input class="form-control" placeholder="número" value="" data-target="apartments.number">
        </div>

        <div class="col">
          <input data-target="apartments.submitButton" type="submit" class="btn btn-success text" value="Adicionar Apartamento" class="float-right">
        </div>
      </div>
    </form>
    <div style="display: none;" data-target="apartments.errorMessage" class="alert alert-danger hide"></div>
  </div>
</div>


<% (1..20).to_a.each do |ap| %>
  <hr>
  <div class="row">
    <div class="col-10">
      <%= ap %>
    </div>
  </div>
<% end %>
