<!doctype html>
<html lang="pt">
  <head>
    <title>Prédios</title>
    <%= favicon %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render partial: 'partials/stylesheets' %>
    <%= render partial: 'partials/javascripts' %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>
  <body class="<%= routes.buildings_url.to_s.match('staging') ? 'staging' : '' %> <%= routes.buildings_url.to_s.match('localhost') ? 'staging' : '' %>">
    <% if current_user.enabled? %>
      <%= render partial: 'partials/menu' %>
    <% end %>

    <div id="before-container"></div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
